@import '../scss/mainColors.scss';
@import '../scss/borderRadius.scss';
@import '../scss/paddings.scss';
@import '../scss/fonts.scss';


.button-medium-primary {
    background-color: $color-primary;
    color: $color-bg-white;

    border-radius: $border-radius-small;
    
    padding-top: $padding-small;
    padding-bottom: $padding-small;
    padding-left: 12px;
    padding-right: $padding-small;

    border: rgba(0, 0, 0, 0.01);
    font-size: $font-size-p_medium;
    font-weight: $font-weight-medium;
    font-family: $font-family-primary;
    cursor: pointer;
    text-decoration: none;

    transition: all 0.2s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    &.disabled {
        background-color: rgba($color-primary, 0.5);
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
    }
}

.button-medium-primary svg {
    height: 18px;
    width: 18px;
}

.button-medium-primary:hover {
    background-color: $color-primary-demphasized;
}

.button-medium-primary:active {
    background-color: $color-primary-demphasized;
}