
@import '../../scss/fonts.scss';
@import '../../scss/mainColors.scss';

.table_row-parent_w {
    font-family: $font-family-primary;
    font-size: $font-size-p_14;
    font-weight: $font-weight-medium;
    
    color: $color-text-primary;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table_row-cell_w {
    flex: 1;
    padding: 8px 12px;
    text-align: left;
}