@import '../../scss/mainColors.scss';
@import '../../scss/paddings.scss';
@import '../../scss/fonts.scss';

.chat_list-parent_w {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 204px;
    position: relative;
}