@import '../../scss/mainColors.scss';
@import '../../scss/paddings.scss';
@import '../../scss/borderRadius.scss';
@import '../../scss/shadows.scss';

.nav-link {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text-tertiary;
    border-radius: $border-radius-xsmall;
    border: 1px solid $color-bg-ghost;
    
    transition: 
        color .2s ease-out .05s,
        border .2s linear .05s,
        background-color .2s ease-out .05s;

    &:hover {
        color: $color-primary;
        background-color: $color-bg-white;
        border: 1px solid $color-border-dark;
    }
    
    &.active,
    &:active {
        color: $color-primary;
        background-color: $color-bg-white;
        border: 1px solid $color-border-dark;
        box-shadow: $shadow-small;

    }
}

.nav-link svg {
    width: 20px;
    height: 20px;
}