$font-size-legal: 10px;
$font-size-p_small: 12px;
$font-size-p_14: 14px;
$font-size-p_medium: 16px;
$font-size-p_large: 18px;
$font-size-h_5: 22px;
$font-size-h_4: 26px;
$font-size-h_3: 30px;
$font-size-h_2: 34px;
$font-size-h_1: 40px;


$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-family-primary: 'DM Sans', sans-serif;
$font-family-secondary: 'DM Mono', serif;