$color-primary: #635BFF;
$color-primary-demphasized: #9A66FF;
$color-secondary: #11EEE3;
$color-tertiary: #00D924;

$color-text-primary: #0A2540;
$color-text-secondary: #435366;
$color-text-tertiary: #707F98;
$color-text-quaternary: #98A7C0;

$color-bg-white: #ffffff;
$color-bg-ghost: #F7F9FC;

$color-border-light: #F7F9FC;
$color-border-dark: #E2E4EA;


