$shadow-xs: 0 0 5px 0 rgba(0, 0, 0, 0.05);
$shadow-small: 0 0 10px 0 rgba(0, 0, 0, 0.1);
$shadow-medium: 0 0 10px 0 rgba(0, 0, 0, 0.2);
$shadow-large: 0 0 10px 0 rgba(0, 0, 0, 0.3);
$shadow-xlarge: 0 0 10px 0 rgba(0, 0, 0, 0.4);
$shadow-xxlarge: 0 0 10px 0 rgba(0, 0, 0, 0.5);

